<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>javaServerlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>dangnhapcontroller</display-name>
    <servlet-name>dangnhapcontroller</servlet-name>
    <servlet-class>controller.dangnhapcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangnhapcontroller</servlet-name>
    <url-pattern>/dangnhapcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sachcontroller</display-name>
    <servlet-name>sachcontroller</servlet-name>
    <servlet-class>controller.sachcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sachcontroller</servlet-name>
    <url-pattern>/sachcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>maincontroller</display-name>
    <servlet-name>maincontroller</servlet-name>
    <servlet-class>controller.maincontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>maincontroller</servlet-name>
    <url-pattern>/maincontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dathangcontroller</display-name>
    <servlet-name>dathangcontroller</servlet-name>
    <servlet-class>controller.dathangcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dathangcontroller</servlet-name>
    <url-pattern>/dathangcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xoacontroller</display-name>
    <servlet-name>xoacontroller</servlet-name>
    <servlet-class>controller.xoacontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xoacontroller</servlet-name>
    <url-pattern>/xoacontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangdangnhapcontroller</display-name>
    <servlet-name>dangdangnhapcontroller</servlet-name>
    <servlet-class>controller.dangdangnhapcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangdangnhapcontroller</servlet-name>
    <url-pattern>/dangdangnhapcontroller</url-pattern>
    <url-pattern>/dangnhapSVL</url-pattern>
  </servlet-mapping>
</web-app>